* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bricolage Grotesque', sans-serif !important;
    background-color: #021222 !important;
}

header {
    width: 100%;
    height: 70px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

header h1 {
    padding-left: 50px;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 20px;
    color: white;
}

.hero {
    height: 100vh;
    background-color: black;
    padding: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero-icons {
    display: flex;
    gap: 20px;
    font-size: 30px;
}

.hero-icons a {
    color: white;
    text-decoration: none;
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0;
}

.intro h1,
.intro h2 {
    margin-top: -15px !important;
    margin-bottom: 0 !important;
}

.ui {
    font-size: 96px;
    color: #7838D8;
    font-weight: bolder;
    margin: 0;
}

.des {
    font-size: 64px;
    font-weight: bolder;
    color: white;
}

.port {
    font-size: 64px;
    color: #7838D8;
    font-weight: bolder;
}

.hero p {
    font-size: 36px;
    color: white;
    font-weight: bolder;
}

.hero button {
    border: none;
    width: 157px;
    height: 51px;
    border-radius: 14px;
    background-color: #200E3C;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.hero-image {
    width: 378px;
    height: 497px;
    border-radius: 30px;
    box-shadow: 23px 35px 83px 8px rgba(85, 40, 48, 0.59);
}

.hero-image img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

@media screen and (max-width: 768px) {

    header h1 {
        padding-left: 30px;
        font-size: 20px;

    }

    .hero {
        padding: 30px;
    }

    .hero-content {
        gap: 25px;
    }

    .ui {
        font-size: 3.5rem;
    }

    .des {
        font-size: 2.8rem;
    }

    .port {
        font-size: 2.8rem;
    }

    .hero p {
        font-size: 1.8rem;
    }

    .hero button {
        width: 157px;
        height: 51px;
    }

    .hero-image {
        width: 278px;
        height: 350px;
        border-radius: 20px;
    }
}

@media screen and (max-width: 565px) {

    .hero {
        padding: 25px;
    }

    .hero-content {
        gap: 20px;
    }

    .ui {
        font-size: 2.9rem;
    }

    .des {
        font-size: 2.3rem;
    }

    .port {
        font-size: 2.3rem;
    }

    .hero p {
        font-size: 1.2rem;
    }

    .hero button {
        width: 136px;
        height: 36px;
        font-size: 14px;
    }

    .hero-image {
        width: 228px;
        height: 300px;
        border-radius: 16px;
    }
}


@media screen and (max-width: 440px) {

    header {
        height: 50px;
    }

    header h1 {
        padding-left: 20px;
        font-size: 16px;
        padding-top: 15px;
    }

    .intro h1,
    .intro h2 {
        margin-top: -10px !important;
        margin-bottom: 0 !important;
    }

    .hero {
        padding: 15px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column-reverse;
    }

    .hero-content {
        gap: 10x;
        align-items: center;
    }

    .ui {
        font-size: 3.5rem;
        text-align: center;
    }

    .des {
        font-size: 2.5rem;
        text-align: center;
    }

    .port {
        font-size: 2.5rem;
        text-align: center;
    }

    .hero p {
        font-size: 1.2rem;
        text-align: center;
    }

    .download-cv {
        width: 116px;
        height: 30px;
        font-size: 12px;
        border-radius: 7px;

    }

    .hero-icons {
        margin: 0 auto;
        justify-content: center;
    }

    .hero-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .hero-image img {
        border-radius: 50%;

    }

}

/* END OF HERO SECTION STYLING */

/* START OF INTRODUCTION SECTION STYLING */

.introduction {
    padding: 50px 50px;
}

.introduction :nth-child(1) {
    font-size: 24px;
    color: white;
    letter-spacing: 10px;
}

.introduction :nth-child(2) {
    font-weight: bolder;
    color: #7838D8;
    font-size: 48px;
}

.introduction :nth-child(3) {
    font-size: 32px;
    color: white;
}

@media screen and (max-width: 768px) {
    .introduction :nth-child(1) {
        font-size: 20px;
        color: white;
        letter-spacing: 10px;
    }

    .introduction :nth-child(2) {
        font-weight: bolder;
        color: #7838D8;
        font-size: 43px;

    }

    .introduction :nth-child(3) {
        font-size: 24px;
        color: white;
    }
}

@media screen and (max-width: 425px) {

    .introduction {
        padding: 50px 25px;
    }

    .introduction :nth-child(1) {
        font-size: 14px;
        color: white;
        letter-spacing: 6px;
    }

    .introduction :nth-child(2) {
        font-weight: bolder;
        color: #7838D8;
        font-size: 30px;

    }

    .introduction :nth-child(3) {
        font-size: 18px;
        color: white;
    }
}

/* END OF INRTO SECTION */

/* START OF COMPETENCY SECTION STYLING */

.competency-sec {
    padding: 50px 50px;
}

.key {
    font-weight: bolder;
    color: #7838D8;
    font-size: 48px;
}

.competencies {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 35px;
    justify-content: center;
    align-items: center;
}

.competency {
    width: 20%;
    height: 300px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.competency p {
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bolder;
}

@media screen and (max-width: 1024px) {
    .competencies {
        gap: 25px;

    }

    .competency {
        width: 20%;
        height: 250px;
        border-radius: 10px;
        gap: 35px;
    }

    .competency p {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {

    .key {
        font-size: 43px;
    }


    .competencies {
        gap: 18px;

    }

    .competency {
        width: 20%;
        height: 160px;
        border-radius: 10px;
        gap: 20px;
    }

    .competency p {
        font-size: 12px;
    }
}

@media screen and (max-width: 425px) {

    .competency-sec {
        padding: 50px 25px;
    }

    .key {
        font-size: 25px;
    }


    .competencies {
        gap: 15px;

    }

    .competency {
        width: 40%;
        height: 160px;
        border-radius: 10px;
        gap: 20px;
    }

    .competency p {
        font-size: 12px;
    }

    .tech img {
        width: 70px;
        height: 70px;
    }
}